.gridContainer {
  display: flex;
}

.tile {
  height: 36px;
  width: 36px;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  transition: background-color 100ms ease-in-out;
  display: flex;
  flex-direction: column;

  &_container {
    width: auto;
    height: auto;
    display: flex;
  }

  &_grass {
    background-color: green;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  &_water {
    background-color: aqua;
  }

  &_possible_movement {
    background-color: cornflowerblue;
  }

  &_selected {
    color: black;
    background-color: white;
  }
}
