.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: calc(38px *8);
}

@keyframes borderSelect {
  0%   {border-color: darkred}
  //50%   {border: 6px rgba(red, 0.6) dashed;}
  100% {border-color: red}
}

.tile {
  height: 36px;
  width: 36px;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  transition: background-color 100ms ease-in-out;
  display: flex;
  flex-direction: column;

  &_container {
    width: auto;
    height: auto;
    display: flex;
  }

  &_grass {
    background-color: green;
    &:hover {
      border-width: 6px;
      border-style: dashed;
      animation: borderSelect 600ms infinite alternate-reverse ease-in-out;
    }
  }

  &_water {
    background-color: aqua;
  }

  &_possible_movement {
    background-color: cornflowerblue;
  }

  &_last_movement {
    background-color: white;
    color: black;
  }

  &_selected {
    border-width: 6px;
    border-style: dashed;
    animation: borderSelect 600ms infinite alternate-reverse ease-in-out;
  }
}
