.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: flex;
  gap: 20px;
}

.actionsContainer {
  background-color: black;
  border: 1px gold solid;
  padding: 10px;
  position: absolute;
  margin-left: 34px;
  color: gold;
}

.tile {
  height: 36px;
  width: 36px;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;

  &_container {
    width: auto;
    display: flex;
  }

  &_grass {
    background-color: green;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  &_water {
    background-color: aqua;
  }

  &_selected {
    color: black;
    background-color: white;
  }
}

.entityMenuContainer {
  display: flex;
  gap: 16px;
}

.entityContainer {
  border: 1px solid skyblue;
  padding: 10px;
  cursor: pointer;

  &_selected {
    color: black;
    background-color: skyblue;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
